010_aci_base_network_build/.terraform*
010_aci_base_network_build/.terraform.lock.hcl
010_aci_base_network_build/plan.out
010_aci_base_network_build/terraform.tfstate*
010_aci_base_network_build/terraform.tfvars

012_aci_connectivity_epg_mapped_esg/.terraform*
012_aci_connectivity_epg_mapped_esg/.terraform.lock.hcl
012_aci_connectivity_epg_mapped_esg/plan.out
012_aci_connectivity_epg_mapped_esg/terraform.tfstate*
012_aci_connectivity_epg_mapped_esg/terraform.tfvars

015_vm_build_boutique_app/.terraform*
015_vm_build_boutique_app/.terraform.lock.hcl
015_vm_build_boutique_app/plan.out
015_vm_build_boutique_app/terraform.tfstate*
015_vm_build_boutique_app/terraform.tfvars

020_blueprint_01_esg_wrapper_for_all_services/.terraform*
020_blueprint_01_esg_wrapper_for_all_services/.terraform.lock.hcl
020_blueprint_01_esg_wrapper_for_all_services/plan.out
020_blueprint_01_esg_wrapper_for_all_services/terraform.tfstate*
020_blueprint_01_esg_wrapper_for_all_services/terraform.tfvars

021_blueprint_02_intra_esg_isolation/.terraform*
021_blueprint_02_intra_esg_isolation/.terraform.lock.hcl
021_blueprint_02_intra_esg_isolation/plan.out
021_blueprint_02_intra_esg_isolation/terraform.tfstate*
021_blueprint_02_intra_esg_isolation/terraform.tfvars

022_blueprint_03_dedictated_ap_esg_for_backend_database/.terraform*
022_blueprint_03_dedictated_ap_esg_for_backend_database/.terraform.lock.hcl
022_blueprint_03_dedictated_ap_esg_for_backend_database/plan.out
022_blueprint_03_dedictated_ap_esg_for_backend_database/terraform.tfstate*
022_blueprint_03_dedictated_ap_esg_for_backend_database/terraform.tfvars

023_blueprint_04_inbound_fw_backend_contract/.terraform*
023_blueprint_04_inbound_fw_backend_contract/.terraform.lock.hcl
023_blueprint_04_inbound_fw_backend_contract/plan.out
023_blueprint_04_inbound_fw_backend_contract/terraform.tfstate*
023_blueprint_04_inbound_fw_backend_contract/terraform.tfvars

024_blueprint_05_inbound_fw_backend_fw/.terraform*
024_blueprint_05_inbound_fw_backend_fw/.terraform.lock.hcl
024_blueprint_05_inbound_fw_backend_fw/plan.out
024_blueprint_05_inbound_fw_backend_fw/terraform.tfstate*
024_blueprint_05_inbound_fw_backend_fw/terraform.tfvars

025_blueprint_06_individual_esg_per_service/.terraform*
025_blueprint_06_individual_esg_per_service/.terraform.lock.hcl
025_blueprint_06_individual_esg_per_service/plan.out
025_blueprint_06_individual_esg_per_service/terraform.tfstate*
025_blueprint_06_individual_esg_per_service/terraform.tfvars

026_blueprint_07_individual_esg_per_service_dedicated_ap_esg_for_backend_database/.terraform*
026_blueprint_07_individual_esg_per_service_dedicated_ap_esg_for_backend_database/.terraform.lock.hcl
026_blueprint_07_individual_esg_per_service_dedicated_ap_esg_for_backend_database/plan.out
026_blueprint_07_individual_esg_per_service_dedicated_ap_esg_for_backend_database/terraform.tfstate*
026_blueprint_07_individual_esg_per_service_dedicated_ap_esg_for_backend_database/terraform.tfvars

027_blueprint_08_individual_esg_per_service_frontend_fw/.terraform*
027_blueprint_08_individual_esg_per_service_frontend_fw/.terraform.lock.hcl
027_blueprint_08_individual_esg_per_service_frontend_fw/plan.out
027_blueprint_08_individual_esg_per_service_frontend_fw/terraform.tfstate*
027_blueprint_08_individual_esg_per_service_frontend_fw/terraform.tfvars

028_blueprint_09_individual_esg_per_service_frontend_fw_backend_fw/.terraform*
028_blueprint_09_individual_esg_per_service_frontend_fw_backend_fw/.terraform.lock.hcl
028_blueprint_09_individual_esg_per_service_frontend_fw_backend_fw/plan.out
028_blueprint_09_individual_esg_per_service_frontend_fw_backend_fw/terraform.tfstate*
028_blueprint_09_individual_esg_per_service_frontend_fw_backend_fw/terraform.tfvars

029_blueprint_10_individual_esg_per_service_frontend_backend_payment_fw/.terraform*
029_blueprint_10_individual_esg_per_service_frontend_backend_payment_fw/.terraform.lock.hcl
029_blueprint_10_individual_esg_per_service_frontend_backend_payment_fw/plan.out
029_blueprint_10_individual_esg_per_service_frontend_backend_payment_fw/terraform.tfstate*
029_blueprint_10_individual_esg_per_service_frontend_backend_payment_fw/terraform.tfvars